.container {
  margin-top: calc(var(--offset-base-size) * 16);
  display: flex;
  gap: calc(var(--offset-base-size) * 15);
}
.column {
  width: 320px;
  display: flex;
  flex-direction: column;
  gap: calc(var(--offset-base-size) * 20);
}

.menu {
  justify-self: flex-start;
  display: flex;
  flex-direction: column;
}

.link {
  text-decoration: none;
  display: flex;
  align-items: center;
  height: 64px;
}

.description {
  opacity: 0.4;
}
