.container {
  width: 480px;
  display: flex;
  flex-direction: column;
  gap: calc(var(--offset-base-size) * 20);
  align-items: center;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: calc(var(--offset-base-size) * 6);
  margin-top: calc(var(--offset-base-size) * 31);
}
.summary {
  display: flex;
  flex-flow: row wrap;
  gap: calc(var(--offset-base-size) * 4) calc(var(--offset-base-size) * 2);
  align-items: center;
  justify-content: center;
}
.button {
  text-decoration: none;
}
