.burger_ingredients_container {
  max-width: 600px;
  width: 45%;
}
.tabs {
  display: flex;
  flex-wrap: wrap;
}
.ingredients {
  max-height: 756px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}
.ingredients::-webkit-scrollbar {
  width: 8px;
  background-color: #2f2f37;
}

.ingredients::-webkit-scrollbar-thumb {
  background-color: #8585ad;
}
.burger_ingredients {
  max-width: 100%;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 272px);
  gap: calc(var(--offset-base-size) * 6);
}
