.container {
  max-width: 600px;
  width: 45%;
}

.ingredients_list {
  max-height: 55vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}
.ingredients_list::-webkit-scrollbar {
  width: 8px;
  background-color: #2f2f37;
}

.ingredients_list::-webkit-scrollbar-thumb {
  background-color: #8585ad;
}
.ingredients {
  max-width: 100%;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 272px);
  gap: calc(var(--offset-base-size) * 6);
}
